.container {
  padding: 0 14px;
  color: #fff;
  font-size: large;
}

.center {
  text-align: center;
  margin-bottom: 14px;
}

.content {
  background-color: #0f0f0f;
  margin: 24px auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 540px;
  border-radius: 14px;
}

.tdProfit {
  color: #12f98a;
}

.tdLoss {
  color: #f91257;
}
